ADF/pipeline/PL_Copy_Orders.json
{
	"name": "PL_Copy_Orders",
	"properties": {
		"activities": [
			{
				"name": "LKP_OldWaterMarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TableName, WaterMarkValue AS OldWaterMarkValue from WatermarkTable where TableName = 'Orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlDB222_Orders",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LKP_NewWaterMarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select MAX(InsertDateTime) AS NewWaterMarkValue From Orders",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlDB111_Orders",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Orders",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_OldWaterMarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKP_NewWaterMarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from Orders \nwhere \nInsertDateTime > '@{activity('LKP_OldWaterMarkValue').output.value[0].OldWaterMarkValue}'\nAND\nInsertDateTime <= '@{activity('LKP_NewWaterMarkValue').output.value[0].NewWaterMarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SqlDB111_Orders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SqlDB222_Orders",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update WaterMarkValue for Orders",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_SetWaterMarkTable]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('LKP_NewWaterMarkValue').output.value[0].NewWaterMarkValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('LKP_OldWaterMarkValue').output.value[0].TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Sql_SqlDB222",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-08-24T13:22:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}